.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #fcfcfc;
  color: black ;
  border-top: solid 0.5px #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.footer-content-left {
  padding-top: 10px;
  padding-left: 50px;
}

.footer-content-right {
  margin-left: auto;
  padding-right: 50px;
  padding-top: 18px;
  float: right;
}
