@import "bootstrap-sprockets";
@import "bootstrap";

.main {
  margin: 0;
  font-size: 13px;
  color: white;
}

// top
.top-main {
  // color: #000;
  font-family: "Nico Moji";
  padding:   170px 0 230px;
  background-image: url("/michikusa.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-message {
  position: relative;
  text-align: center;

  h1 {
    font-size: 90px;
  }
  p {
    font-family: "Hannari";
    font-size: 40px;
  }
  button {
    font-size: 1.4em;
  }
  a {
    color: #333;
    text-decoration: none;
  }
}

.top-title {
  padding-bottom: 30px;
}

.search_form {
  padding-top: 100px;
  font-size: 30px;
  label{
    width:100px;
    border-radius: 5px;
  }

  .from-label {
    background-color: #5590C8;
  }

  .to-label {
    background-color: #D459A8;
  }

  #from_station, #to_station {
    width: 300px;
  }

  #from_station {
    margin-bottom: 30px;
  }

  input {
    color: black;
    border-radius: 5px;
  }

  .btn{
    width: 420px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
  }
}

.app-discription{
  padding-top: 1.4em;
  text-align: center;
}
