@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family:"ヒラギノ丸ゴ Pro W4", "Hiragino maru Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO","Verdana","Osaka",sans-serif;
}

.main {
  margin: 0;
  font-size: 13px;
  color: white;
}

/* ---------- top ---------- */
.top-main {
  // color: #000;
  font-family: "Nico Moji";
  padding:   120px 0 150px;
  background-image: url("/michikusa.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-message {
  position: relative;
  text-align: center;

  h1 {
    font-size: 90px;
  }
  p {
    font-family: "Hannari";
    font-size: 40px;
  }
  button {
    font-size: 1.4em;
  }
  a {
    color: #333;
    text-decoration: none;
  }
}

.top-title {
  padding-bottom: 30px;
}

.search_form {
  padding-top: 100px;
  font-size: 30px;
  label{
    width:100px;
    border-radius: 5px;
  }

  .from-label {
    background-color: #5590C8;
  }

  .to-label {
    background-color: #D459A8;
  }

  #from_station, #to_station {
    width: 300px;
  }

  #from_station {
    margin-bottom: 30px;
  }

  input {
    color: black;
    border-radius: 5px;
  }

  .btn{
    width: 420px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
  }
}

.app-discription{
  padding-top: 1.4em;
  text-align: center;
}

.alert-danger {
  background-color: rgba(255,240,240,0.8);
  // width: 500px;
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
}

/* ---------- index ---------- */
.index {
  background-color: white;
}
.from-to-label {
  margin: 0 auto;
  text-align: center;
  padding-top: 6.0em;
  label {
    font-size: 3em;
  }
  #from {
    color: white;
    background-color: #5590C8;
    padding: 0.5em 1em;
    border-radius: 10px;
  }

  #to {
    color: white;
    background-color: #D459A8;
    padding: 0.5em 1em;
    border-radius: 10px;
  }
}

.map-spots {
  display: flex;
  margin-top: 1.5em;
}

.map-box {
  margin: 50px 30px 0px 70px;
  width: 40%;
  height: 784px;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.5em 1em;
  padding-bottom: 50px;
  border: solid 3px #32A1CC;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  .map-title {
    // position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 30px;
    background: #fcfcfc;
    color: #32A1CC;
    font-weight: bold;
  }
}
#map {
  margin: 1.0em auto;
  margin-top: 20px;
  width: 95%;
  height: 95%;
  border-radius: 10px;
}

.spots {
  width: 50%;
  margin-top: 50px;
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1.5em;
  border: solid 3px #32A1CC;
  border-radius: 8px;
  // padding-top: 2.0em;
  background-color: #fcfcfc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  .spots-title {
    // position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    // padding: 0 9px;
    margin-bottom: 20px;
    line-height: 1;
    font-size: 30px;
    background: #fcfcfc;
    color: #32A1CC;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }
}

.spot {
  padding: 0.5em 0.5em;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
  border-radius: 5px;
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 30px;

  img {
    border-radius: 50%;
  }

  h1 {
    margin: 0;
  }

  .spot-title{
    margin-top: 0.5em;
    margin-left: 20px;
  }

  .close-station{
    margin-top: 0.5em;
  }

  label {
    margin-right: 10px;
    padding: 5px;
    background-color: #FCBA07;
    color: black;
    border-radius: 5px;
  }
}

.link_url {
  color: gray;
}

/* ------------- map ---------------- */
