// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show {
  padding-top: 4.7em;
}

.show-container {
  margin-top: 20px;
  display: flex !important;
  flex-wrap: wrap;
}

.spot-box {
  width: 35%;
  padding-left: 6.0em;
  img {
    border-radius: 10px;
  }
}

/* --------- twitter -----------*/
.tweet-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  margin-right: 3.5em;
}

.table-top{
  background-color: #32A1CC;
  vertical-align: middle;
  text-align: center;
  color:#ffffff;
}

.tweet-table-wrapper{
  margin-left: 4.0em;
  width: 60%;
}

.table-top,.table-body {
  display: block;
  text-align: center;
}

.table-top {
  tr {
    width: 100% !important;
  }
}

.table-body{
  background: #FCFCFC;
  height: 400px;
  overflow:scroll;
  text-align: center;
}

.close-station {
  label {
    margin-right: 10px;
    padding: 5px;
    background-color: #FCBA07;
    color: black;
    border-radius: 5px;
  }
}

/* --------- machine evaluation -------------- */
.eval-box {
  margin-right: 3.5em;
  background: #FCFCFC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  .eval-box-title {
      font-size: 1.2em;
      background: #32A1CC;
      padding: 4px;
      text-align: center;
      color: #FFF;
      font-weight: bold;
      letter-spacing: 0.05em;
  }
}

.machine-evaluation {
  display: flex;
  margin-bottom: 2.0em;
  margin-left: 4.5em;
  padding-bottom: 5px;
  .evaluation {
    margin-left: 3.0em;
    h1 {
      font-family: "Nico Moji";
      font-size: 70px;
      margin-left: 2.5em;
      margin-top: 0;
    }
  }
}

.eval-bar {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 130px;
  img {
    width: 70%;
    height: auto;
  }
}
