<footer class="footer">
  <div class="footer-content-left">
    <%= image_tag("Gutty-logo.png", :size => "60x39") %>Gutty on Rails
  </div>
  <div class="footer-content-right">
    Made by
    <%= link_to "TaigaMikami", "https://taigamikami.github.io/" %> &
    <%= link_to "KyoheiSaito", "https://github.com/Kyou13" %>
  </div>
</footer>
